@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mali";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Mali-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Mali-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Mali-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Mali-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Mali-Bold.ttf") format("truetype");
}

body {
  font-family: 'Mali';
}